html {
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
}

.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 2rem 0;
}

.nombre-sitio span {
    color: #037bc0;
}

@media (min-width: 768px) {
    .nav-principal {
        justify-content: space-between;
        flex-direction: row;
    }
}

.nav-principal {
    padding: 2rem 0;
    display: flex;
    align-items: center;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.contenedor-navegacion {
    border-top: 0.1rem solid #e1e1e1;
}

a {
    text-decoration: none;
    color: black;
    background-color: transparent;
}

@media (min-width: 768px) {
    .hero {
        height: 55rem;
    }
}

.hero {
    background-image: url("./img/principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.categorias {
    padding: 5rem 0;
}

section {
    display: block;
}

.text-center {
    text-align: center;
}

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.categoria {
    margin-bottom: 0;
}

.categoria img {
    width: 100%;
}

img {
    max-width: 100%;
    display: block;
    border-style: none;
}

.categoria a {
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: transparent;
}

.sobre-nosotros {
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url("./img/nosotros.jpg");
    background-position: left center;
    padding: 10rem 0;
    background-size: 100%, 160rem;
}

.sobre-nosotros-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
    column-gap: 10rem;
}

.texto-nosotros {
    grid-column: 2 / 3;
}


.sobre-nosotros {
    background-repeat: no-repeat;
}

.sobre-nosotros-grid {
    display: grid;
}

.texto-nosotros {
    grid-row: 2 / 3;
    color: white;
    padding: 5rem;
}

.contenido-principal {
    padding-top: 5rem;
}

.listado-productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.producto {
    background-color: #037bc0;
    margin-bottom: 0;
}

.texto-producto {
    color: white;
    text-align: center;
    padding: 2rem;
}

.producto:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.producto:nth-child(1) img {
    height: 43rem;
    width: 100%;
    object-fit: cover;
}

.producto:last-of-type {
    margin-bottom: 0;
}

.producto:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
}

.producto:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 7;
}

.producto:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.producto:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.producto:nth-child(6) {
    grid-column-start: 5;
    grid-column-end: 7;
}

img {
    max-width: 100%;
    display: block;
}

h3 {
    font-size: 3rem;
}

.texto-producto {
    text-align: center;
    color: #FFFFFF;
    padding: 2rem;
}

.texto-producto h3 {
    margin: 0;
}

.texto-producto p {
    margin: 0 0 0.5rem 0;
}

.texto-producto .precio {
    font-size: 2.8rem;
    font-weight: 900;
}

.btn {
    width: auto;
}

.btn {
    background-color: #8cbc00;
    display: block;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
}

.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.grid-footer>div {
    margin: 0;
}

.site-footer h3 {
    text-align: left;
    margin-bottom: 0.5rem;
}

.footer-menu a {
    display: block;
    text-align: left;
}

.copyright {
    margin-top: 5rem;
    text-align: center;
}